<!DOCTYPE html>
<html lang="en">
<head>
  <script src='javascripts/main.js'></script>
  <title><%= @title || "LightSaber" %></title>
</head>
<body onload="errorModule()">
  <header>
    <%= erb :_error %>
  </header>
    <button type="button" id="error">Show Error!</button>
    <button type="button" id="hidden">Hide Error!</button>
    <button type="button" id="edit">Edit Error Message!</button>
    <br />
    <%= yield %>
</body>
</html>