<!DOCTYPE html>
<html lang="en">
<head>
  <!-- /Users/RyanB/Desktop/DBC-stuff/phase-2/lightsaber/lightsaber/app/public/javascripts -->
  <script src='javascripts/main.js'></script>
  <title><%= @title || "LightSaber" %></title>
</head>
<body>
    <%= yield %>
</body>
</html>